ADmin/src/META-INF/wsdl/localhost_8080/Gestor/AdminWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gestor_admin/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gestor_admin/" name="AdminWS">
<types>
<xsd:schema>
<xsd:import namespace="http://gestor_admin/" schemaLocation="http://localhost:8080/Gestor/AdminWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getOfertasporPedido">
<part name="parameters" element="tns:getOfertasporPedido"/>
</message>
<message name="getOfertasporPedidoResponse">
<part name="parameters" element="tns:getOfertasporPedidoResponse"/>
</message>
<message name="getPedidos">
<part name="parameters" element="tns:getPedidos"/>
</message>
<message name="getPedidosResponse">
<part name="parameters" element="tns:getPedidosResponse"/>
</message>
<message name="getOfertas">
<part name="parameters" element="tns:getOfertas"/>
</message>
<message name="getOfertasResponse">
<part name="parameters" element="tns:getOfertasResponse"/>
</message>
<message name="getDesguaces">
<part name="parameters" element="tns:getDesguaces"/>
</message>
<message name="getDesguacesResponse">
<part name="parameters" element="tns:getDesguacesResponse"/>
</message>
<message name="getTalleres">
<part name="parameters" element="tns:getTalleres"/>
</message>
<message name="getTalleresResponse">
<part name="parameters" element="tns:getTalleresResponse"/>
</message>
<message name="getPedidoID">
<part name="parameters" element="tns:getPedidoID"/>
</message>
<message name="getPedidoIDResponse">
<part name="parameters" element="tns:getPedidoIDResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getAltaTalleres">
<part name="parameters" element="tns:getAltaTalleres"/>
</message>
<message name="getAltaTalleresResponse">
<part name="parameters" element="tns:getAltaTalleresResponse"/>
</message>
<message name="getAltaDesguaces">
<part name="parameters" element="tns:getAltaDesguaces"/>
</message>
<message name="getAltaDesguacesResponse">
<part name="parameters" element="tns:getAltaDesguacesResponse"/>
</message>
<portType name="AdminWS">
<operation name="getOfertasporPedido">
<input wsam:Action="http://gestor_admin/AdminWS/getOfertasporPedidoRequest" message="tns:getOfertasporPedido"/>
<output wsam:Action="http://gestor_admin/AdminWS/getOfertasporPedidoResponse" message="tns:getOfertasporPedidoResponse"/>
</operation>
<operation name="getPedidos">
<input wsam:Action="http://gestor_admin/AdminWS/getPedidosRequest" message="tns:getPedidos"/>
<output wsam:Action="http://gestor_admin/AdminWS/getPedidosResponse" message="tns:getPedidosResponse"/>
</operation>
<operation name="getOfertas">
<input wsam:Action="http://gestor_admin/AdminWS/getOfertasRequest" message="tns:getOfertas"/>
<output wsam:Action="http://gestor_admin/AdminWS/getOfertasResponse" message="tns:getOfertasResponse"/>
</operation>
<operation name="getDesguaces">
<input wsam:Action="http://gestor_admin/AdminWS/getDesguacesRequest" message="tns:getDesguaces"/>
<output wsam:Action="http://gestor_admin/AdminWS/getDesguacesResponse" message="tns:getDesguacesResponse"/>
</operation>
<operation name="getTalleres">
<input wsam:Action="http://gestor_admin/AdminWS/getTalleresRequest" message="tns:getTalleres"/>
<output wsam:Action="http://gestor_admin/AdminWS/getTalleresResponse" message="tns:getTalleresResponse"/>
</operation>
<operation name="getPedidoID">
<input wsam:Action="http://gestor_admin/AdminWS/getPedidoIDRequest" message="tns:getPedidoID"/>
<output wsam:Action="http://gestor_admin/AdminWS/getPedidoIDResponse" message="tns:getPedidoIDResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://gestor_admin/AdminWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://gestor_admin/AdminWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getAltaTalleres">
<input wsam:Action="http://gestor_admin/AdminWS/getAltaTalleresRequest" message="tns:getAltaTalleres"/>
<output wsam:Action="http://gestor_admin/AdminWS/getAltaTalleresResponse" message="tns:getAltaTalleresResponse"/>
</operation>
<operation name="getAltaDesguaces">
<input wsam:Action="http://gestor_admin/AdminWS/getAltaDesguacesRequest" message="tns:getAltaDesguaces"/>
<output wsam:Action="http://gestor_admin/AdminWS/getAltaDesguacesResponse" message="tns:getAltaDesguacesResponse"/>
</operation>
</portType>
<binding name="AdminWSPortBinding" type="tns:AdminWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getOfertasporPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOfertas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDesguaces">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTalleres">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPedidoID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAltaTalleres">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAltaDesguaces">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminWS">
<port name="AdminWSPort" binding="tns:AdminWSPortBinding">
<soap:address location="http://localhost:8080/Gestor/AdminWS"/>
</port>
</service>
</definitions>