ADmin/src/META-INF/wsdl/localhost_8080/Gestor/AdminWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://gestor_admin/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://gestor_admin/">

<xs:element name="getAltas" type="tns:getAltas"/>

<xs:element name="getAltasResponse" type="tns:getAltasResponse"/>

<xs:element name="getDesguaces" type="tns:getDesguaces"/>

<xs:element name="getDesguacesResponse" type="tns:getDesguacesResponse"/>

<xs:element name="getOfertas" type="tns:getOfertas"/>

<xs:element name="getOfertasResponse" type="tns:getOfertasResponse"/>

<xs:element name="getOfertasporPedido" type="tns:getOfertasporPedido"/>

<xs:element name="getOfertasporPedidoResponse" type="tns:getOfertasporPedidoResponse"/>

<xs:element name="getPedidoID" type="tns:getPedidoID"/>

<xs:element name="getPedidoIDResponse" type="tns:getPedidoIDResponse"/>

<xs:element name="getPedidos" type="tns:getPedidos"/>

<xs:element name="getPedidosResponse" type="tns:getPedidosResponse"/>

<xs:element name="getTalleres" type="tns:getTalleres"/>

<xs:element name="getTalleresResponse" type="tns:getTalleresResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="getOfertasporPedido">
<xs:sequence>
<xs:element name="idPedido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOfertasporPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOfertas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOfertasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPedidosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDesguaces">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDesguacesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTalleres">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTalleresResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidoID">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidoIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAltas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAltasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>