desguaceJava/src/META-INF/wsdl/localhost_8080/Gestor/DesguaceJavaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gestor_desguace_java/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gestor_desguace_java/" name="DesguaceJavaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://gestor_desguace_java/" schemaLocation="http://localhost:8080/Gestor/DesguaceJavaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="alta">
<part name="parameters" element="tns:alta"/>
</message>
<message name="altaResponse">
<part name="parameters" element="tns:altaResponse"/>
</message>
<message name="checkActivacion">
<part name="parameters" element="tns:checkActivacion"/>
</message>
<message name="checkActivacionResponse">
<part name="parameters" element="tns:checkActivacionResponse"/>
</message>
<message name="getOfertas">
<part name="parameters" element="tns:getOfertas"/>
</message>
<message name="getOfertasResponse">
<part name="parameters" element="tns:getOfertasResponse"/>
</message>
<message name="nuevaOferta">
<part name="parameters" element="tns:nuevaOferta"/>
</message>
<message name="nuevaOfertaResponse">
<part name="parameters" element="tns:nuevaOfertaResponse"/>
</message>
<message name="getPedidosporID">
<part name="parameters" element="tns:getPedidosporID"/>
</message>
<message name="getPedidosporIDResponse">
<part name="parameters" element="tns:getPedidosporIDResponse"/>
</message>
<portType name="DesguaceJavaWS">
<operation name="alta">
<input wsam:Action="http://gestor_desguace_java/DesguaceJavaWS/altaRequest" message="tns:alta"/>
<output wsam:Action="http://gestor_desguace_java/DesguaceJavaWS/altaResponse" message="tns:altaResponse"/>
</operation>
<operation name="checkActivacion">
<input wsam:Action="http://gestor_desguace_java/DesguaceJavaWS/checkActivacionRequest" message="tns:checkActivacion"/>
<output wsam:Action="http://gestor_desguace_java/DesguaceJavaWS/checkActivacionResponse" message="tns:checkActivacionResponse"/>
</operation>
<operation name="getOfertas">
<input wsam:Action="http://gestor_desguace_java/DesguaceJavaWS/getOfertasRequest" message="tns:getOfertas"/>
<output wsam:Action="http://gestor_desguace_java/DesguaceJavaWS/getOfertasResponse" message="tns:getOfertasResponse"/>
</operation>
<operation name="nuevaOferta">
<input wsam:Action="http://gestor_desguace_java/DesguaceJavaWS/nuevaOfertaRequest" message="tns:nuevaOferta"/>
<output wsam:Action="http://gestor_desguace_java/DesguaceJavaWS/nuevaOfertaResponse" message="tns:nuevaOfertaResponse"/>
</operation>
<operation name="getPedidosporID">
<input wsam:Action="http://gestor_desguace_java/DesguaceJavaWS/getPedidosporIDRequest" message="tns:getPedidosporID"/>
<output wsam:Action="http://gestor_desguace_java/DesguaceJavaWS/getPedidosporIDResponse" message="tns:getPedidosporIDResponse"/>
</operation>
</portType>
<binding name="DesguaceJavaWSPortBinding" type="tns:DesguaceJavaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="alta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkActivacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOfertas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevaOferta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPedidosporID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DesguaceJavaWS">
<port name="DesguaceJavaWSPort" binding="tns:DesguaceJavaWSPortBinding">
<soap:address location="http://localhost:8080/Gestor/DesguaceJavaWS"/>
</port>
</service>
</definitions>