desguaceJava/src/META-INF/wsdl/localhost_8080/Gestor/DesguaceJavaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://gestor_desguace_java/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://gestor_desguace_java/">

<xs:element name="alta" type="tns:alta"/>

<xs:element name="altaResponse" type="tns:altaResponse"/>

<xs:element name="checkActivacion" type="tns:checkActivacion"/>

<xs:element name="checkActivacionResponse" type="tns:checkActivacionResponse"/>

<xs:element name="getOfertas" type="tns:getOfertas"/>

<xs:element name="getOfertasResponse" type="tns:getOfertasResponse"/>

<xs:element name="getPedidosporID" type="tns:getPedidosporID"/>

<xs:element name="getPedidosporIDResponse" type="tns:getPedidosporIDResponse"/>

<xs:element name="nuevaOferta" type="tns:nuevaOferta"/>

<xs:element name="nuevaOfertaResponse" type="tns:nuevaOfertaResponse"/>

<xs:complexType name="getOfertas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOfertasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkActivacion">
<xs:sequence>
<xs:element name="mail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkActivacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alta">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:int"/>
<xs:element name="telephone" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevaOferta">
<xs:sequence>
<xs:element name="oferta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevaOfertaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidosporID">
<xs:sequence>
<xs:element name="string" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidosporIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>