Taller/src/META-INF/wsdl/localhost_8080/Gestor/TallerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gestor_taller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gestor_taller/" name="TallerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://gestor_taller/" schemaLocation="http://localhost:8080/Gestor/TallerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="alta">
<part name="parameters" element="tns:alta"/>
</message>
<message name="altaResponse">
<part name="parameters" element="tns:altaResponse"/>
</message>
<message name="activarTaller">
<part name="parameters" element="tns:activarTaller"/>
</message>
<message name="activarTallerResponse">
<part name="parameters" element="tns:activarTallerResponse"/>
</message>
<message name="envioNuevoPedido">
<part name="parameters" element="tns:envioNuevoPedido"/>
</message>
<message name="envioNuevoPedidoResponse">
<part name="parameters" element="tns:envioNuevoPedidoResponse"/>
</message>
<portType name="TallerWS">
<operation name="alta">
<input wsam:Action="http://gestor_taller/TallerWS/altaRequest" message="tns:alta"/>
<output wsam:Action="http://gestor_taller/TallerWS/altaResponse" message="tns:altaResponse"/>
</operation>
<operation name="activarTaller">
<input wsam:Action="http://gestor_taller/TallerWS/activarTallerRequest" message="tns:activarTaller"/>
<output wsam:Action="http://gestor_taller/TallerWS/activarTallerResponse" message="tns:activarTallerResponse"/>
</operation>
<operation name="envioNuevoPedido">
<input wsam:Action="http://gestor_taller/TallerWS/envioNuevoPedidoRequest" message="tns:envioNuevoPedido"/>
<output wsam:Action="http://gestor_taller/TallerWS/envioNuevoPedidoResponse" message="tns:envioNuevoPedidoResponse"/>
</operation>
</portType>
<binding name="TallerWSPortBinding" type="tns:TallerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="alta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="activarTaller">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="envioNuevoPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TallerWS">
<port name="TallerWSPort" binding="tns:TallerWSPortBinding">
<soap:address location="http://localhost:8080/Gestor/TallerWS"/>
</port>
</service>
</definitions>