Gestor/WebContent/wsdl/adminws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AdminWS" targetNamespace="http://gestor_admin/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gestor_admin/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://gestor_admin/" schemaLocation="adminws_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="getAltaTalleres">
    <wsdl:part name="parameters" element="tns:getAltaTalleres">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContrasenyaPorDesguaceIDResponse">
    <wsdl:part name="parameters" element="tns:getContrasenyaPorDesguaceIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTalleresResponse">
    <wsdl:part name="parameters" element="tns:getTalleresResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTalleresAceptadosResponse">
    <wsdl:part name="parameters" element="tns:getTalleresAceptadosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPedidosResponse">
    <wsdl:part name="parameters" element="tns:getPedidosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContrasenyaPorDesguaceID">
    <wsdl:part name="parameters" element="tns:getContrasenyaPorDesguaceID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendMail">
    <wsdl:part name="parameters" element="tns:sendMail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegistrarResponse">
    <wsdl:part name="parameters" element="tns:RegistrarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendMailResponse">
    <wsdl:part name="parameters" element="tns:sendMailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContrasenyaPorTallerID">
    <wsdl:part name="parameters" element="tns:getContrasenyaPorTallerID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDesguacesAceptados">
    <wsdl:part name="parameters" element="tns:getDesguacesAceptados">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDesguacesResponse">
    <wsdl:part name="parameters" element="tns:getDesguacesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDesguaces">
    <wsdl:part name="parameters" element="tns:getDesguaces">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Registrar">
    <wsdl:part name="parameters" element="tns:Registrar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPedidos">
    <wsdl:part name="parameters" element="tns:getPedidos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloResponse">
    <wsdl:part name="parameters" element="tns:helloResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAccesoDesguaceResponse">
    <wsdl:part name="parameters" element="tns:addAccesoDesguaceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAltaDesguace">
    <wsdl:part name="parameters" element="tns:getAltaDesguace">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOfertas">
    <wsdl:part name="parameters" element="tns:getOfertas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hello">
    <wsdl:part name="parameters" element="tns:hello">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="darAccesoTallerResponse">
    <wsdl:part name="parameters" element="tns:darAccesoTallerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="darAccesoTaller">
    <wsdl:part name="parameters" element="tns:darAccesoTaller">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOfertasResponse">
    <wsdl:part name="parameters" element="tns:getOfertasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPedidoID">
    <wsdl:part name="parameters" element="tns:getPedidoID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTalleres">
    <wsdl:part name="parameters" element="tns:getTalleres">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAccesoDesguace">
    <wsdl:part name="parameters" element="tns:addAccesoDesguace">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContrasenyaPorTallerIDResponse">
    <wsdl:part name="parameters" element="tns:getContrasenyaPorTallerIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPedidoIDResponse">
    <wsdl:part name="parameters" element="tns:getPedidoIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOfertasporPedidoResponse">
    <wsdl:part name="parameters" element="tns:getOfertasporPedidoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOfertasporPedido">
    <wsdl:part name="parameters" element="tns:getOfertasporPedido">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAltaTalleresResponse">
    <wsdl:part name="parameters" element="tns:getAltaTalleresResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDesguacesAceptadosResponse">
    <wsdl:part name="parameters" element="tns:getDesguacesAceptadosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAltaDesguaceResponse">
    <wsdl:part name="parameters" element="tns:getAltaDesguaceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTalleresAceptados">
    <wsdl:part name="parameters" element="tns:getTalleresAceptados">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AdminWS">
    <wsdl:operation name="getPedidos">
      <wsdl:input name="getPedidos" message="tns:getPedidos">
    </wsdl:input>
      <wsdl:output name="getPedidosResponse" message="tns:getPedidosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <wsdl:input name="sendMail" message="tns:sendMail">
    </wsdl:input>
      <wsdl:output name="sendMailResponse" message="tns:sendMailResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTalleres">
      <wsdl:input name="getTalleres" message="tns:getTalleres">
    </wsdl:input>
      <wsdl:output name="getTalleresResponse" message="tns:getTalleresResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAltaDesguace">
      <wsdl:input name="getAltaDesguace" message="tns:getAltaDesguace">
    </wsdl:input>
      <wsdl:output name="getAltaDesguaceResponse" message="tns:getAltaDesguaceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAccesoDesguace">
      <wsdl:input name="addAccesoDesguace" message="tns:addAccesoDesguace">
    </wsdl:input>
      <wsdl:output name="addAccesoDesguaceResponse" message="tns:addAccesoDesguaceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <wsdl:input name="Registrar" message="tns:Registrar">
    </wsdl:input>
      <wsdl:output name="RegistrarResponse" message="tns:RegistrarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDesguacesAceptados">
      <wsdl:input name="getDesguacesAceptados" message="tns:getDesguacesAceptados">
    </wsdl:input>
      <wsdl:output name="getDesguacesAceptadosResponse" message="tns:getDesguacesAceptadosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDesguaces">
      <wsdl:input name="getDesguaces" message="tns:getDesguaces">
    </wsdl:input>
      <wsdl:output name="getDesguacesResponse" message="tns:getDesguacesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOfertasporPedido">
      <wsdl:input name="getOfertasporPedido" message="tns:getOfertasporPedido">
    </wsdl:input>
      <wsdl:output name="getOfertasporPedidoResponse" message="tns:getOfertasporPedidoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContrasenyaPorTallerID">
      <wsdl:input name="getContrasenyaPorTallerID" message="tns:getContrasenyaPorTallerID">
    </wsdl:input>
      <wsdl:output name="getContrasenyaPorTallerIDResponse" message="tns:getContrasenyaPorTallerIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hello">
      <wsdl:input name="hello" message="tns:hello">
    </wsdl:input>
      <wsdl:output name="helloResponse" message="tns:helloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTalleresAceptados">
      <wsdl:input name="getTalleresAceptados" message="tns:getTalleresAceptados">
    </wsdl:input>
      <wsdl:output name="getTalleresAceptadosResponse" message="tns:getTalleresAceptadosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedidoID">
      <wsdl:input name="getPedidoID" message="tns:getPedidoID">
    </wsdl:input>
      <wsdl:output name="getPedidoIDResponse" message="tns:getPedidoIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="darAccesoTaller">
      <wsdl:input name="darAccesoTaller" message="tns:darAccesoTaller">
    </wsdl:input>
      <wsdl:output name="darAccesoTallerResponse" message="tns:darAccesoTallerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAltaTalleres">
      <wsdl:input name="getAltaTalleres" message="tns:getAltaTalleres">
    </wsdl:input>
      <wsdl:output name="getAltaTalleresResponse" message="tns:getAltaTalleresResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOfertas">
      <wsdl:input name="getOfertas" message="tns:getOfertas">
    </wsdl:input>
      <wsdl:output name="getOfertasResponse" message="tns:getOfertasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContrasenyaPorDesguaceID">
      <wsdl:input name="getContrasenyaPorDesguaceID" message="tns:getContrasenyaPorDesguaceID">
    </wsdl:input>
      <wsdl:output name="getContrasenyaPorDesguaceIDResponse" message="tns:getContrasenyaPorDesguaceIDResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminWSSoapBinding" type="tns:AdminWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPedidos">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPedidos">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPedidosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendMail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendMailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAltaDesguace">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAltaDesguace">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAltaDesguaceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTalleres">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTalleres">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTalleresResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAccesoDesguace">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addAccesoDesguace">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addAccesoDesguaceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Registrar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RegistrarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDesguacesAceptados">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDesguacesAceptados">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDesguacesAceptadosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDesguaces">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDesguaces">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDesguacesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOfertasporPedido">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOfertasporPedido">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOfertasporPedidoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContrasenyaPorTallerID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getContrasenyaPorTallerID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getContrasenyaPorTallerIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTalleresAceptados">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTalleresAceptados">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTalleresAceptadosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="helloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="darAccesoTaller">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="darAccesoTaller">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="darAccesoTallerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedidoID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPedidoID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPedidoIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAltaTalleres">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAltaTalleres">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAltaTalleresResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContrasenyaPorDesguaceID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getContrasenyaPorDesguaceID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getContrasenyaPorDesguaceIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOfertas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOfertas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOfertasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminWS">
    <wsdl:port name="AdminWSPort" binding="tns:AdminWSSoapBinding">
      <soap:address location="http://localhost:9090/AdminWSPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
