Gestor/WebContent/wsdl/desguacejavaws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DesguaceJavaWS" targetNamespace="http://gestor_desguace_java/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gestor_desguace_java/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://gestor_desguace_java/" schemaLocation="desguacejavaws_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="nuevaOfertaResponse">
    <wsdl:part name="parameters" element="tns:nuevaOfertaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="nuevaOferta">
    <wsdl:part name="parameters" element="tns:nuevaOferta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cambiarEstadoPedido">
    <wsdl:part name="parameters" element="tns:cambiarEstadoPedido">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cambiarEstadoPedidoResponse">
    <wsdl:part name="parameters" element="tns:cambiarEstadoPedidoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkActivacion">
    <wsdl:part name="parameters" element="tns:checkActivacion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOfertas">
    <wsdl:part name="parameters" element="tns:getOfertas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aceptarOfertaFin">
    <wsdl:part name="parameters" element="tns:aceptarOfertaFin">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPedidosporID">
    <wsdl:part name="parameters" element="tns:getPedidosporID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarOferta">
    <wsdl:part name="parameters" element="tns:cancelarOferta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="altaResponse">
    <wsdl:part name="parameters" element="tns:altaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPedidosporIDResponse">
    <wsdl:part name="parameters" element="tns:getPedidosporIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="aceptarOfertaFinResponse">
    <wsdl:part name="parameters" element="tns:aceptarOfertaFinResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="alta">
    <wsdl:part name="parameters" element="tns:alta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarOfertaResponse">
    <wsdl:part name="parameters" element="tns:cancelarOfertaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOfertasResponse">
    <wsdl:part name="parameters" element="tns:getOfertasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bajaResponse">
    <wsdl:part name="parameters" element="tns:bajaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkActivacionResponse">
    <wsdl:part name="parameters" element="tns:checkActivacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="baja">
    <wsdl:part name="parameters" element="tns:baja">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DesguaceJavaWS">
    <wsdl:operation name="alta">
      <wsdl:input name="alta" message="tns:alta">
    </wsdl:input>
      <wsdl:output name="altaResponse" message="tns:altaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkActivacion">
      <wsdl:input name="checkActivacion" message="tns:checkActivacion">
    </wsdl:input>
      <wsdl:output name="checkActivacionResponse" message="tns:checkActivacionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedidosporID">
      <wsdl:input name="getPedidosporID" message="tns:getPedidosporID">
    </wsdl:input>
      <wsdl:output name="getPedidosporIDResponse" message="tns:getPedidosporIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiarEstadoPedido">
      <wsdl:input name="cambiarEstadoPedido" message="tns:cambiarEstadoPedido">
    </wsdl:input>
      <wsdl:output name="cambiarEstadoPedidoResponse" message="tns:cambiarEstadoPedidoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aceptarOfertaFin">
      <wsdl:input name="aceptarOfertaFin" message="tns:aceptarOfertaFin">
    </wsdl:input>
      <wsdl:output name="aceptarOfertaFinResponse" message="tns:aceptarOfertaFinResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOfertas">
      <wsdl:input name="getOfertas" message="tns:getOfertas">
    </wsdl:input>
      <wsdl:output name="getOfertasResponse" message="tns:getOfertasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nuevaOferta">
      <wsdl:input name="nuevaOferta" message="tns:nuevaOferta">
    </wsdl:input>
      <wsdl:output name="nuevaOfertaResponse" message="tns:nuevaOfertaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baja">
      <wsdl:input name="baja" message="tns:baja">
    </wsdl:input>
      <wsdl:output name="bajaResponse" message="tns:bajaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarOferta">
      <wsdl:input name="cancelarOferta" message="tns:cancelarOferta">
    </wsdl:input>
      <wsdl:output name="cancelarOfertaResponse" message="tns:cancelarOfertaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DesguaceJavaWSSoapBinding" type="tns:DesguaceJavaWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="alta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="alta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="altaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkActivacion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkActivacion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkActivacionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPedidosporID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPedidosporID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPedidosporIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aceptarOfertaFin">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="aceptarOfertaFin">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="aceptarOfertaFinResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiarEstadoPedido">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cambiarEstadoPedido">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cambiarEstadoPedidoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOfertas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOfertas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOfertasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baja">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="baja">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bajaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nuevaOferta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="nuevaOferta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="nuevaOfertaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarOferta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelarOferta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarOfertaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DesguaceJavaWS">
    <wsdl:port name="DesguaceJavaWSPort" binding="tns:DesguaceJavaWSSoapBinding">
      <soap:address location="http://localhost:9090/DesguaceJavaWSPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
