desguaceNET/desguaceNET/Service References/desguaceWS/DesguaceJavaWSPort1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gestor_desguace_java/" elementFormDefault="unqualified" targetNamespace="http://gestor_desguace_java/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aceptarOfertaFin" type="tns:aceptarOfertaFin" />
  <xs:element name="aceptarOfertaFinResponse" type="tns:aceptarOfertaFinResponse" />
  <xs:element name="alta" type="tns:alta" />
  <xs:element name="altaResponse" type="tns:altaResponse" />
  <xs:element name="baja" type="tns:baja" />
  <xs:element name="bajaResponse" type="tns:bajaResponse" />
  <xs:element name="cambiarEstadoPedido" type="tns:cambiarEstadoPedido" />
  <xs:element name="cambiarEstadoPedidoOtravez" type="tns:cambiarEstadoPedidoOtravez" />
  <xs:element name="cambiarEstadoPedidoOtravezResponse" type="tns:cambiarEstadoPedidoOtravezResponse" />
  <xs:element name="cambiarEstadoPedidoResponse" type="tns:cambiarEstadoPedidoResponse" />
  <xs:element name="cancelarOferta" type="tns:cancelarOferta" />
  <xs:element name="cancelarOfertaResponse" type="tns:cancelarOfertaResponse" />
  <xs:element name="checkActivacion" type="tns:checkActivacion" />
  <xs:element name="checkActivacionResponse" type="tns:checkActivacionResponse" />
  <xs:element name="getOfertas" type="tns:getOfertas" />
  <xs:element name="getOfertasResponse" type="tns:getOfertasResponse" />
  <xs:element name="getPedidosporID" type="tns:getPedidosporID" />
  <xs:element name="getPedidosporIDResponse" type="tns:getPedidosporIDResponse" />
  <xs:element name="nuevaOferta" type="tns:nuevaOferta" />
  <xs:element name="nuevaOfertaResponse" type="tns:nuevaOfertaResponse" />
  <xs:complexType name="alta">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="address" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="postalCode" type="xs:string" />
      <xs:element minOccurs="0" name="telephone" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="altaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkActivacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="mail" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkActivacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPedidosporID">
    <xs:sequence>
      <xs:element minOccurs="0" name="string" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPedidosporIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarEstadoPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarEstadoPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aceptarOfertaFin">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aceptarOfertaFinResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOfertas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getOfertasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nuevaOferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="oferta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nuevaOfertaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baja">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bajaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarEstadoPedidoOtravez">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarEstadoPedidoOtravezResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarOferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarOfertaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>