Taller/xml-resources/web-service-references/TallerWS/wsdl/localhost_8080/Gestor/TallerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gestor_taller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gestor_taller/" name="TallerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://gestor_taller/" schemaLocation="http://localhost:8080/Gestor/TallerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="checkActivacion">
<part name="parameters" element="tns:checkActivacion"/>
</message>
<message name="checkActivacionResponse">
<part name="parameters" element="tns:checkActivacionResponse"/>
</message>
<message name="rechazarOferta">
<part name="parameters" element="tns:rechazarOferta"/>
</message>
<message name="rechazarOfertaResponse">
<part name="parameters" element="tns:rechazarOfertaResponse"/>
</message>
<message name="cancelarPedido">
<part name="parameters" element="tns:cancelarPedido"/>
</message>
<message name="cancelarPedidoResponse">
<part name="parameters" element="tns:cancelarPedidoResponse"/>
</message>
<message name="modificar">
<part name="parameters" element="tns:modificar"/>
</message>
<message name="modificarResponse">
<part name="parameters" element="tns:modificarResponse"/>
</message>
<message name="nuevoPedido">
<part name="parameters" element="tns:nuevoPedido"/>
</message>
<message name="nuevoPedidoResponse">
<part name="parameters" element="tns:nuevoPedidoResponse"/>
</message>
<message name="JMSException">
<part name="fault" element="tns:JMSException"/>
</message>
<message name="getOfertas">
<part name="parameters" element="tns:getOfertas"/>
</message>
<message name="getOfertasResponse">
<part name="parameters" element="tns:getOfertasResponse"/>
</message>
<message name="aceptarOferta">
<part name="parameters" element="tns:aceptarOferta"/>
</message>
<message name="aceptarOfertaResponse">
<part name="parameters" element="tns:aceptarOfertaResponse"/>
</message>
<message name="baja">
<part name="parameters" element="tns:baja"/>
</message>
<message name="bajaResponse">
<part name="parameters" element="tns:bajaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="alta">
<part name="parameters" element="tns:alta"/>
</message>
<message name="altaResponse">
<part name="parameters" element="tns:altaResponse"/>
</message>
<message name="cambiarEstadoPedido">
<part name="parameters" element="tns:cambiarEstadoPedido"/>
</message>
<message name="cambiarEstadoPedidoResponse">
<part name="parameters" element="tns:cambiarEstadoPedidoResponse"/>
</message>
<portType name="TallerWS">
<operation name="checkActivacion">
<input wsam:Action="http://gestor_taller/TallerWS/checkActivacionRequest" message="tns:checkActivacion"/>
<output wsam:Action="http://gestor_taller/TallerWS/checkActivacionResponse" message="tns:checkActivacionResponse"/>
</operation>
<operation name="rechazarOferta">
<input wsam:Action="http://gestor_taller/TallerWS/rechazarOfertaRequest" message="tns:rechazarOferta"/>
<output wsam:Action="http://gestor_taller/TallerWS/rechazarOfertaResponse" message="tns:rechazarOfertaResponse"/>
</operation>
<operation name="cancelarPedido">
<input wsam:Action="http://gestor_taller/TallerWS/cancelarPedidoRequest" message="tns:cancelarPedido"/>
<output wsam:Action="http://gestor_taller/TallerWS/cancelarPedidoResponse" message="tns:cancelarPedidoResponse"/>
</operation>
<operation name="modificar">
<input wsam:Action="http://gestor_taller/TallerWS/modificarRequest" message="tns:modificar"/>
<output wsam:Action="http://gestor_taller/TallerWS/modificarResponse" message="tns:modificarResponse"/>
</operation>
<operation name="nuevoPedido">
<input wsam:Action="http://gestor_taller/TallerWS/nuevoPedidoRequest" message="tns:nuevoPedido"/>
<output wsam:Action="http://gestor_taller/TallerWS/nuevoPedidoResponse" message="tns:nuevoPedidoResponse"/>
<fault message="tns:JMSException" name="JMSException" wsam:Action="http://gestor_taller/TallerWS/nuevoPedido/Fault/JMSException"/>
</operation>
<operation name="getOfertas">
<input wsam:Action="http://gestor_taller/TallerWS/getOfertasRequest" message="tns:getOfertas"/>
<output wsam:Action="http://gestor_taller/TallerWS/getOfertasResponse" message="tns:getOfertasResponse"/>
</operation>
<operation name="aceptarOferta">
<input wsam:Action="http://gestor_taller/TallerWS/aceptarOfertaRequest" message="tns:aceptarOferta"/>
<output wsam:Action="http://gestor_taller/TallerWS/aceptarOfertaResponse" message="tns:aceptarOfertaResponse"/>
</operation>
<operation name="baja">
<input wsam:Action="http://gestor_taller/TallerWS/bajaRequest" message="tns:baja"/>
<output wsam:Action="http://gestor_taller/TallerWS/bajaResponse" message="tns:bajaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://gestor_taller/TallerWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://gestor_taller/TallerWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="alta">
<input wsam:Action="http://gestor_taller/TallerWS/altaRequest" message="tns:alta"/>
<output wsam:Action="http://gestor_taller/TallerWS/altaResponse" message="tns:altaResponse"/>
</operation>
<operation name="cambiarEstadoPedido">
<input wsam:Action="http://gestor_taller/TallerWS/cambiarEstadoPedidoRequest" message="tns:cambiarEstadoPedido"/>
<output wsam:Action="http://gestor_taller/TallerWS/cambiarEstadoPedidoResponse" message="tns:cambiarEstadoPedidoResponse"/>
</operation>
</portType>
<binding name="TallerWSPortBinding" type="tns:TallerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkActivacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rechazarOferta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevoPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JMSException">
<soap:fault name="JMSException" use="literal"/>
</fault>
</operation>
<operation name="getOfertas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aceptarOferta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="baja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TallerWS">
<port name="TallerWSPort" binding="tns:TallerWSPortBinding">
<soap:address location="http://localhost:8080/Gestor/TallerWS"/>
</port>
</service>
</definitions>